<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">
      DeepLinks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding lines="none">

    <ion-card padding *ngFor="let prod of products" class="welcome-card">
      <span class="myCol"><strong>{{prod.id}}</strong></span> | <span>{{prod.name}}</span>
      <img [src]="prod.img"/>
      <ion-row>
        <ion-col>
          <ion-item>
            <div slot="start"></div>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <div slot="end">
              <ion-button color="tertiary" (click)="share(prod.name, prod.id, 'https://deepLinks.com/list/'+prod.id)">
                <ion-icon slot="icon-only" name="share"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-col> 
      </ion-row>
    </ion-card>

  </ion-list>

</ion-content>
